@import 'fonts/ComputerModernSerif/cmun-serif.css';

body {
    font-family: "Computer Modern Serif", normal;
    font-variant-ligatures: none;
    font-weight: 400;
    font-size: larger;
}

.red {
    color: red;
}