<div class="body-inner">
    <div class="book-header" role="navigation">
        <!-- Title -->
        <h1>
            <i class="fa fa-circle-o-notch fa-spin"></i>
            {% if page.title %}
                <a href="{{site.baseurl}}" >{{ page.title | escape }}</a>
            {% else %}
                <a href="{{site.baseurl}}" >{{ site.title | escape }}</a>
            {% endif %}
        </h1>
    </div>
    <div class="page-wrapper" tabindex="-1" role="main">
        <div class="page-inner">
            <div id="book-search-results">
                <div class="search-noresults">
                    <section class="normal markdown-section">

                        {% if page.title %}
                            <h1 id="{{ page.id }}">{{ page.title | escape }}</h1>
                        {% else %}
                            <h1 id="{{ page.id }}">{{ site.title | escape }}</h1>
                        {% endif %}

                        {{ content }}
                    </section>
                </div>

                 <!-- {%- include search.html -%} -->
            </div>
        </div>
    </div>
</div>
