<div class="book-summary">
    <!-- <div id="book-search-input" role="search">
        <input type="text" placeholder="Type to search" />
    </div> -->
    <nav role="navigation">
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.url}}">
                    {{ site.title | escape }}
                </a>
            </li>

            <li class="divider"></li>

            {% assign reversed_posts = site.posts | reverse %}

            {% for post in reversed_posts %}
                {% if page.url == post.url %}
                <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                {% else %}
                <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                {% endif %}
                    <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                    </a>
                    {% if site.toc.enabled %}
                        {% if page.url == post.url %}
                            {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}

            {% for crtpage in site.info %}
                {% if page.url == crtpage.url %}
                <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{crtpage.url}}">
                {% else %}
                <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{crtpage.url}}">
                {% endif %}
                <a href="{{crtpage.url}}">{{ crtpage.title }}</a>
                {% if site.toc.enabled %}
                    {% if page.url == crtpage.url %}
                        {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                    {% endif %}
                {% endif %}
              </li>
            {% endfor %}

            <li class="divider"></li>

            <!-- <li>
                <a href="https://github.com/sighingnow/jekyll-gitbook/fork" target="blank" class="gitbook-link">
                    Fork it Now!
                </a>
            </li> -->
        </ul>
    </nav>
</div>